name: My Email Logger Action

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: 24f2008474@ds.study.iitm.ac.in
        run: echo "Hello there! My email is registered as an action step."
